{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ appType }} | Car Project</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ appType }} | Car Project</h1>
                <h3>Demo:
                    <a href="{% url 'createcar' %}">Create</a> /
                    <a href="{% url 'readcar' %}">Read</a> /
                    <a href="{% url 'deletecar' %}">Delete</a> /
                    <a href="{% url 'searchcar' %}">Search</a> /
                    <a href="{% url 'help' %}">Help</a> /
                    <a href="{% url 'updatecarinput' %}">Update</a>
                </h3> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4>Delete Car Data</h4>
                <form role="form" action="{% url 'deletecarsave' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="carName">Name</label>
                        <input type="text" class="form-control" id="carName" name="carName" required>
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>