{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ appType }} | Car Project</title>

    <meta name="description" content="Example Monolith">
    <meta name="author" content="@hepidad">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ appType }} | Car Project</h1>
          <h3>Demo:
            <a href="{% url 'createcar' %}">Create</a> /
            <a href="{% url 'readcar' %}">Read</a> /
            <a href="{% url 'deletecar' %}">Delete</a> /
            <a href="{% url 'searchcar' %}">Search</a> /
            <a href="{% url 'help' %}">Help</a> /
            <a href="{% url 'updatecarinput' %}">Update</a>
          </h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h4>View Car Data</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Price (USD)</th>
              </tr>
            </thead>
            <tbody>
              {% for data in rows %}
              <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.carname }}</td>
                <td>{{ data.carbrand }}</td>
                <td>{{ data.carmodel }}</td>
                <td>{{ data.carprice }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>